html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/** Globales **/
.contenedor {
    background-image: url('/images/pattern-bg-desktop.png');

    background-size: cover;

    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 9rem;
}


.contenedor__tittle {
    margin: 2rem auto;
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

.contenedor__form {
    display: flex;
    justify-content: center;

}

.form__input {
    padding: 1.3rem;
    width: 30%;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-style: double;
}

.form__btn {
    background-color: black;
    background-image: url("/images/icon-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    padding: 1.3rem;
    padding-left: 2.5rem;
}

.info {
    left: 20%;
    top: 12%;
    position: absolute;
    width: 60%;
    height: 12%;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
    background-color: white;
    padding: 3rem;
}

.info__item {
    border-right: 1px solid gray;
}
.info__item:last-of-type {
    border: none;
}

.info__item .info__label {
    margin-bottom: 1rem;
}
.info__value {
    font-size: 1.5rem;
}

#map {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 75rem;
    z-index: -1;
}

.uppercase {
    text-transform: uppercase;
}

.no--padding {
    padding: 0;
}

.no--margin {
    margin: 0;
}

@media (max-width: 480px) {
    .form__input {
        padding: 1.3rem;
        width: 80%;
    }
}